.execrise_board {
  max-height: 264px;
  background-color: $text-dark-500;
  padding: 10px 30px 25px 30px;
  color: $light;
  &-item {
    min-height: 48px;
    & > div:last-child {
      margin-left: 25px;
      color: $primary-300;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    &-info {
      display: flex;
      align-items: center;
      font-size: 15px;
      justify-content: space-between;

      &::before {
        content: "â—";
        margin-right: 20px;
        font-size: 5px;
      }

      & > div {
        &:first-child{
          flex: 1;
          font-family: Hiragino Kaku Gothic Pro;
        }

        &:last-child {
        font-size: 18px;
        line-height: 22px;
        color: $primary-300;
        }
     
      }
    }
  }

  &-data {
    display: flex;
    margin-top: 4px;
    max-height: 192px;
    overflow: scroll;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: space-between;
    padding-right: 30px;

    & > * {
      flex: 0 0 45%;
      border-bottom: 1px solid $gray-400;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $gray-400;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-300;
      border-radius: 3px;
    }

  
  }

  &-info {
    display: flex;
    flex-direction: row;
    color: $light;
    &-title {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      margin-right: 70px;
    }

    &-time {
      font-size: 22px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.11px;
    }
  }
}
