.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: $text-dark-500;
  padding: $padding-screen;
  z-index: 99;
  font-family: Hiragino Kaku Gothic Pro;
  &-items {
    display: flex;
    gap: 20px;

    & > .icon {
      margin-left: 40px;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    & > p {
      color: $light;
      margin-left: 10px;
    }
  }

  &-logo {
    height: 90%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-menu {
    position: relative;

    &-items {
      position: absolute;
      width: max-content;
      background-color: $gray-400;
      color: $light;
      display: flex;
      flex-direction: column;
      right: 0;
      top: 48px;
      z-index: 1;

      & > a {
        color: $light;
        text-decoration: none;
        font-size: 18px;
        line-height: 26px;
        padding: 22px 0px 22px 32px;
        width: 280px;    
        border-bottom: 1px solid rgba(46, 46, 46, 0.25);
        border-top: 1px solid rgba(46, 46, 46, 0.15);

      }
    }
  }
}
