@font-face {
    font-family:"Hiragino Kaku Gothic Pro";
    src:  url("./assets/fonts/Noto/NotoSansJP-Light.otf")
}
  
  @font-face {
      font-family: "Inter";
      src:  url("./assets/fonts/Inter/Inter-Light.ttf")
}  